@{
    ViewBag.Title = "About";
}

<style>
    body {
        background-image: url(/Content/Imagers/source1.gif);
        background-size:30%;
    }
</style>
<body >
   <h2>Welcome to Cinnamon Hotels </h2>

</body>